#### Task 1: 
#### Scrape data for all products from the men's shoes section using Python from https://farfetch.com or https://matchesfashion.com (choose any one). The data we want you to collect should be for Germany (Deutschland). Make sure that you select the right country and the prices are in Euros (€).The output should be a .csv file with the following column headers.
>Name: the name or the title of the product  
>Brand: the brand name of the product  
>Price: the price of the product   
>Image Url: the url of the product image   
>Product Url: the url of the product page

#### Import All Necessary packages

In [13]:
#import all necessary packages
import re, csv, time, random, pandas as pd
from lxml import html
import requests
import math
from csv import writer
from lxml import html
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait,Select
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

#### All the xpaths which will be used to extract the particular data through the crawling

In [14]:
#Configuration Block 
Dropdown_div_Xpath = '//*[@id="settings__wrapper"]/div[1]/div'
Germany_Country_Xpath = '//*[@id="settings__wrapper"]/div[1]/div/div/span[73]'
Submit_Button_Xpath = '//*[@id="command"]/button'
Product_Numbers = '//*[@id="sort_form1"]/div/div/div[4]'
Extract_Total_Products_Xpath = "//li[@class='lister__item']"
Image_Url_Xpath = './div/div/a//img[@class="lazy"]/@data-original'
Product_Url_Xpath = './div/div/a/@href'
Product_Name_Xpath = './div/a/@title'
Product_Brand_Xpath = './div/a/div[@class="lister__item__title"]'
Product_Price_Xpath = './div/a/div[@class="lister__item__price"]/span//text()'

#### *Heading 1: Start Crawling for the products from Germany (Deutschland) with price in Euros (€).

In [16]:
#start crawling for prodicts from "/www.matchesfashion.com/"

#Provide the Web Url for setting 
input_url = "https://www.matchesfashion.com/intl/settings?returnUrl=%2Fintl%2Fmens%2Fshop%2Fshoes"
driver = webdriver.Firefox()
# driver = webdriver.Chrome(executable_path=r'chromedriver.exe')
driver.get(input_url)
#maximize the browser
driver.maximize_window()

#First of all main goal is to select the desired country and currency
#Select the country from the drop down menu
actions = ActionChains(driver)
element1 = driver.find_element_by_xpath(Dropdown_div_Xpath)
actions.move_to_element(element1).click().perform()
#Wait for 5 minutes 
time.sleep(5)
choose_country = driver.find_element_by_xpath(Germany_Country_Xpath)
choose_country.click()
time.sleep(10)
submit_button = driver.find_element_by_xpath(Submit_Button_Xpath)
submit_button.click()

#Wait for the Page loading
time.sleep(2) 
driver.implicitly_wait(1000)
#maximize the browser
driver.maximize_window()

#After submitting the details and clicking on submit button it will redirect to the main men/sheos/ web page
HTMLTree = html.fromstring(driver.page_source)

#Get The Number of Products details
NProducts = HTMLTree.xpath(Product_Numbers)

#Number of total products for man shoes
total_products = int((NProducts[0].text_content()).split()[0].replace(',',''))
print('Total Products : ' , total_products)
#Crawl the products from each page (If available)
scrape_products_per_page = 240
total_page_needs_to_be_crawled = math.ceil(total_products/scrape_products_per_page)
print('Total Pages Needs to be crawled : ' ,total_page_needs_to_be_crawled) 


output_rows = []

class MatchESFashion:
    def __init__(self):
        self.start = 'start'
        
    def ScrapeManFashion(self,all_products,product_id):
        image_url = 'https:' + all_products[product_id].xpath(Image_Url_Xpath)[0]
        product_url = 'https://www.matchesfashion.com' + all_products[product_id].xpath(Product_Url_Xpath)[0]
        product_name = all_products[product_id].xpath(Product_Name_Xpath)[0]
        produtc_brand = all_products[product_id].xpath(Product_Brand_Xpath)[0].text_content()
        price_info = all_products[product_id].xpath(Product_Price_Xpath)[0]
        price = price_info.replace('€','€ ')
        return [product_name,produtc_brand,price,image_url,product_url]

    def Scrape_Products_Data(self,tree):
        all_products= tree.xpath(Extract_Total_Products_Xpath)
        for product_id in range(len(all_products)):
            product_output = self.ScrapeManFashion(all_products,product_id)
            output_rows.append(product_output)

#Create the object of the class and call a method
First_Web_Page = MatchESFashion()
First_Web_Page.Scrape_Products_Data(HTMLTree)
time.sleep(5)


# driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")


#Crawl Product Details for Other Pages Because Page1 already has been crawled
for i in range(total_page_needs_to_be_crawled-1):
    next_page_link= driver.find_element_by_xpath("//li[@class='next']/a")
    print('Page_' + str(i+2) + ' : ' ,next_page_link.get_attribute("href"))
    driver.get(next_page_link.get_attribute("href"))
#     driver.execute_script("arguments[0].click();", next_page_link)
# #     next_page_link = driver.find_element_by_xpath("//li[@class='next']/a")
# #     next_page_link.click()
    #Wait for the Page loading
    time.sleep(2) 
    driver.implicitly_wait(1000)
    #maximize the browser
    driver.maximize_window()

    HTMLTree = html.fromstring(driver.page_source)
    MatchESFashion().Scrape_Products_Data(HTMLTree)
    time.sleep(10)

driver.quit()
print('{} Products Have been crawled'.format(len(output_rows)))

Total Products :  1543
Total Pages Needs to be crawled :  7
Page_2 :  https://www.matchesfashion.com/intl/mens/shop/shoes?page=2&noOfRecordsPerPage=240&sort=
Page_3 :  https://www.matchesfashion.com/intl/mens/shop/shoes?page=3&noOfRecordsPerPage=240&sort=
Page_4 :  https://www.matchesfashion.com/intl/mens/shop/shoes?page=4&noOfRecordsPerPage=240&sort=
Page_5 :  https://www.matchesfashion.com/intl/mens/shop/shoes?page=5&noOfRecordsPerPage=240&sort=
Page_6 :  https://www.matchesfashion.com/intl/mens/shop/shoes?page=6&noOfRecordsPerPage=240&sort=
Page_7 :  https://www.matchesfashion.com/intl/mens/shop/shoes?page=7&noOfRecordsPerPage=240&sort=
1543 Products Have been crawled

#### Store Crawled information in excel file (.csv format)

In [17]:
#create a list of column names 
Column_Names = [['Product_Name' ,'Product_Brand' , 'Price' , 'Image_Url' ,  'Product_Url']]
#append columns with data as header
output_rows = Column_Names + output_rows

#Write complete data in csv file 
#create excel data file
Filename = "Matchesfashion.csv"  #Give file name with path
with open(Filename, "w", newline="") as csvfile:
    writer = csv.writer(csvfile)
    writer.writerows(output_rows)

#### Read Dataset

In [18]:
import pandas as pd
df = pd.read_csv(r'Matchesfashion.csv', engine='python')
print('Length of dataset : ' , len(df))
print('Number of Duplicate Rows : ', df.duplicated().sum())
#Extract first 5 rows from the dataset
df.head()

Length of dataset :  1543
Number of Duplicate Rows :  0

,Product_Name,Product_Brand,Price,Image_Url,Product_Url
0,Rhyton logo Mickey Mouse-print leather trainers,Gucci,€ 790,https://assetsprx.matchesfashion.com/img/produ...,https://www.matchesfashion.com/intl/products/G...
1,Ace Mickey Mouse canvas trainers,Gucci,€ 590,https://assetsprx.matchesfashion.com/img/produ...,https://www.matchesfashion.com/intl/products/G...
2,Rhyton GG-disc leather trainers,Gucci,€ 790,https://assetsprx.matchesfashion.com/img/produ...,https://www.matchesfashion.com/intl/products/G...
3,Ace Mickey Mouse leather trainers,Gucci,€ 690,https://assetsprx.matchesfashion.com/img/produ...,https://www.matchesfashion.com/intl/products/G...
4,OG sole canvas high-top trainers\t,Mihara Yasuhiro,€ 418,https://assetsprx.matchesfashion.com/img/produ...,https://www.matchesfashion.com/intl/products/M...

#### Simple Data Analysis

In [19]:
df.describe()

,Product_Name,Product_Brand,Price,Image_Url,Product_Url
count,1543,1543,1543,1543,1543
unique,1255,103,315,1543,1543
top,Raised-sole low-top leather trainers,Christian Louboutin,€ 650,https://assetsprx.matchesfashion.com/img/produ...,https://www.matchesfashion.com/intl/products/V...
freq,12,150,62,1,1

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1543 entries, 0 to 1542
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_Name   1543 non-null   object
 1   Product_Brand  1543 non-null   object
 2   Price          1543 non-null   object
 3   Image_Url      1543 non-null   object
 4   Product_Url    1543 non-null   object
dtypes: object(5)
memory usage: 60.4+ KB

In [21]:
#Check duplicate item
df[df.duplicated(['Product_Url'])]

Empty DataFrame
Columns: [Product_Name, Product_Brand, Price, Image_Url, Product_Url]
Index: []

#### Hence there is no duplicate things